//全局变量
:root {
    --header-height: 4rem; // 头部高度
    --dialog-padding-x: 4rem;
    --dialog-padding-y: 2rem;
    --animation-type: cubic-bezier(0.32, 0.72, 0, 1); //动画
    --border-radius: 0.5rem; //圆角
    --separator: 1px solid var(--p-content-border-color); //分割线

    --main-tab-width: 6rem; //左侧主标签栏宽度
}

:root {
    --error-color: #ff4544;
    --warning-color: var(--p-amber-500);
    --success-color: var(--p-green-500);
}

@font-face {
    font-family: 'PingFang SC';
    src: url('../assets/pingfang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root,
button {
    font-family: 'PingFang SC', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

html,
body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    color: var(--p-text-color);
}

#app {
    height: 100vh;
    width: 100vw;
}

img {
    -webkit-user-drag: none; /* 针对 WebKit 内核的浏览器（Chrome, Safari） 禁止图片拖动*/
}
