.p-select,
input {
    width: 200px;
}

.p-tooltip,
.p-button-link {
    font-size: calc(1rem - 2px) !important;
}

.p-scrolltop.p-button {
    inset-block-end: 1rem !important;
    inset-inline-end: 1rem !important;
    box-shadow: none !important;
    border: none !important;
    background: var(--p-surface-200) !important;
    opacity: 0.8;

    &:hover {
        opacity: 1 !important;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
        background: var(--p-surface-0) !important;
        color: var(--p-primary-color) !important;
    }
}

.p-dialog {
    // overflow: hidden;

    .p-dialog-content {
        //自定义的header
        .header {
            height: var(--header-height);
            display: flex;
            align-items: center;
            border-bottom: var(--separator);

            h1 {
                font-size: 1.25rem;
            }
        }

        //自定义的footer
        .footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 2rem;
            gap: 8px;

            button {
                width: 6rem;
            }
        }
    }
}
