:root {
    --border-radius: 0.5rem;

    font-family: "PingFang SC", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "PingFang SC";
    src: url("../assets/pingfang.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
